*, ::before, ::after {
    padding: none;
    margin: none;
    box-sizing: border-box;
}

.inactive {
    display: none;
}

.active {
    display: block;
    animation: fade 0.8s;
}

@keyframes fade{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}

.bouton {
    height: 50px;
    width: 50px;
    border: olive 2px solid;
    border-radius: 50%;
    background-color: white;
    margin: 10px;
}

.conteneur_bouton {
    display: flex;
    justify-content: center;
    width: 1150px;
    
}

.bleu {
    background-color: turquoise;
}