 /* ------------------------------- MENU BURGER */ 

.close_button {
    height: 45px;
    width: 45px;
    position: absolute;
    right: 10.5%;
    border: solid 1px red;
}

.open_button {
    height: 45px;
    width: 45px;
}

#bouton_menu_burger {
    display: none;
    padding: 0;
    margin-right: 10%;
    @media all and (max-device-width: 768px){
        display:block;
    }
}

// #bouton_menu_burger img {
//     width: 45px;
//     height: 45px;
//     margin-right: 100px;
//     border: solid green 2px
// }


 .burger_menu {
    width: 100%;
    min-width: 300px;
    margin: 0;
    padding: 0;
    position: absolute;
    position: fixed;
    z-index: 6;
 }

 .active {
     display: block;
 }

 .inactive {
     display: none;
 }

 .burger_menu_background {
     width: 100%;
     min-width: 300px;
     height: 100%;
     background-color: $colorOne;
     position: absolute;
     position: fixed;
     top: 84px;
     z-index: 3;
     opacity: 0.7;
 }

 .burger_menu_buttons {
     height: 480px;
     width: 95%;
     background-color: white;
     opacity: 1;
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     position: absolute;
     position: fixed;
     left: 5%;
     top: 91px;
     margin: 0;
     padding: 0;
     z-index: 4;
     
 }

 .burger_button {
     width: 97%;
     display: flex;
     align-items: center;
     height: 120px;
     font-size: 1.9rem;
 }

 .burger_button a {
     text-decoration: none;
 }

 .burger_button p {
     margin-left: 7%;
 }

 .burger_button img{
    margin-left: 5%;
 }

 #skill_burger_menu {
     background-color: $colorFive;
 }

 #skill_burger_menu p, #career_burger_menu p, #project_burger_menu p, #contact_burger_menu p {
    color: white;
 }

 #career_burger_menu {
    background-color: $colorFour;
 }

 #project_burger_menu {
    background-color: $colorTwo;
 }

 #contact_burger_menu {
    background-color: $colorThree;
 }