html {
    scroll-padding-top: 150px;
    scroll-behavior: smooth;
}


    

body {
    font-family: 'Asap-Regular', Arial, Helvetica, sans-serif ;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


