#skills {
    height: 640px;
    background-image: url('../contenu/BG/fond_entete.jpg') ;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1;
  }

  #skills_center {
    height: 640px;
}

#skill_head {
  height: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: -140px;
  }

  #skill_center h3 {
  color: $colorOne;
  width: 100%;
  margin: 0;
  text-align: left;

  }

#skill_boxes {
    width: 100%;
    height: 360px;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

$num-box: 4;
$anim-dur: 0.3s;
$anim-delay: 0.1s; 

.box {
    height: 360px;
    width: 270px;
    margin-right: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    box-shadow: 8px 5px 15px 0px #7A7A7A;
    opacity: 0;
    transform: translateY(0) ease-out;
    animation: apparition $anim-dur linear forwards;

    @for $i from 1 through $num-box {
      &--#{$i} {
          animation-delay: $anim-delay * $i;
      } 
    }
}

// .apparition {
//   animation: apparition 0.3s linear forwards 0.4s;
// }


@keyframes apparition {

  from {
    opacity: 0;
    transform: translateY(-30px);  
  }
  to {
    opacity: 1;
    transform: translateY(0px)
  }

}

#last_box {
    margin-right: 0;
}

.box_title {
    width: 100%;
    height: 140px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_bottom {
  height: 220px;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  background-color: white;
  box-shadow: 8px 5px 15px 0px #7A7A7A;
}

#box_bottom_contenu {
    margin-right: 0;
}

.box_bottom li {
    margin-top: 5px;
}


#creation_contenu {
  margin-right: 0;
  background-color: $colorThree;
  color: white;
}

#developpement_web {
    background-color:$colorOne;
}

#community_management {
  background-color: $colorTwo;
}

#game_design {
  background-color: #e64646
}

#game_design h4 {
  width: 100px;
}

.box img {
      margin-top: 10px;
  }