
// Colors and theme pages
$colorOne: #172534;
$colorTwo: #1bbc9b;
$colorThree: #AEAEAE;
$colorFour: #e64c66;
$colorFive: #2d3e50;
$colorSix: #FF532E;
$REM_color_primary: #ffe736;


// Width device for media queries
$mobile: 425px;
$tablet: 768px;


//animation, bloc compétence, apparitions box
$num-box: 4;
$anim-dur: 0.3s;
$anim-delay: 0.1s; 